<select onChange="load_giveaway_round()" id="giveaway_round_select">
  <% for (i = 0; i < this.length; i++) { %>
    <%
    giveaway_round = this[i].giveaway_round;
    if (giveaway_round.active_giveaways > 0) {
      var gr_time = parse_w3cdtf(giveaway_round.time);
    %>
    <option value="<%= giveaway_round.id %>" id="giveaway_round_option_<%= giveaway_round.id %>"><%=
      gr_time.strftime("%a %b %d %I:%M %p")
    %></option>
    <% } %>
  <% } %>
</select>
