<select onChange="load_giveaway_form()" id="giveaway_select">
  <% for (i = 0; i < giveaway_round.giveaways.length; i++) { %>
    <% giveaway = giveaway_round.giveaways[i] %>
    <% if (giveaway.active) { %>
      <option value="<%= giveaway.id %>" id="giveaway_option_<%= giveaway.id %>">
        <%= giveaway.prize_category.name %> (<%= giveaway.count %>)
      </option>
    <% } %>
  <% } %>
</select>
