body {
  font-family: Verdana, Arial, sans-serif
}
fieldset {
  border: none; padding: 0; margin: 0 0 10px 0;
}
h1 { padding-bottom: 0; margin-bottom: 0 }

form p.description {
  font-size: small;
  padding: 0 0 3px 0;
  margin: 0;
}

#content {
  float:left; position: relative; width: 900px
}
#nav {
  width: 200px; float:left; font-size: small; padding-top: 25px
}
#nav ul {
  margin: 0px
}
#nav li {
  margin-left: -10px;
}
#new_configuration fieldset legend {
  font-size: medium;
}
#new_configuration .fieldWithErrors input { border: 1px solid red }
#new_configuration input, #new_configuration option, #new_configuration select {
  font-size: large;
}

.autocomplete_palette {
  background: white;
  border: 1px solid #2B303D;
}

.autocomplete_palette ul {
  margin-top: 0;
  margin-bottom: 0
}

.autocomplete_palette ul li {
  list-style: none;
	padding: 1px 5px;
  margin-left: -40px
}

.autocomplete_palette ul li:hover,.autocomplete_palette ul li.selected {	 
  background: #66aaff;
}

.workflow_step {
  border: 2px solid #666;
  margin-bottom: 10px;
  padding: 10px;
}

.workflow_step.closed {
  background-color: #999
}

.workflow_step.open {
  background-color: #9f9
}

.workflow_step .description {
  margin: 0;
  padding: 0
}

.workflow_step .name {
  font-size: large;
  font-weight: bold;
  margin: 0;
  padding: 0
}
