<% form_for @conference, :url => {:action => action, :id => params[:id]} do |f| %>
  <p>
  Start date
  <%= f.date_select 'start_date' %>
  </p>
  
  <p>
  End date
  <%= f.date_select 'end_date' %>
  </p>
  
  <%= submit_tag %>
<% end %>
