RAFLCON!!!

<select onChange="giveaway_round_changed()" id="giveaway_round_select">
  <option></option>
<% GiveawayRound.all.sort_by(&:time).reverse.each do |giveaway_round| %>
  <option value="<%= giveaway_round.id %>"><%= giveaway_round.pretty_time %></option>
<% end %>
</select>

<div id="giveaway_round"></div>
