RAFLCON!!!

<div id="newest_giveaway_attempt">
WINNERS HERE
</div>

<div id="control_panel">
<select onChange="choose_giveaway_round()" id="giveaway_round_select">
  <option></option>
<% GiveawayRound.all.sort_by(&:time).each do |giveaway_round| %>
  <option value="<%= giveaway_round.id %>"><%= giveaway_round.pretty_time %></option>
<% end %>
</select>

<div id="giveaway_round"></div>

</div>
