#control_panel {
  width: 160px;
  float: left;
  padding: 10px;
}

#giveaway_rounds {
  margin-top: 10px;
}

#giveaways {
  margin-top: 10px;
}

form#create_giveaway_attempt {
  margin-top: 10px;
  background: #eee;
  padding: 2px;
}

form#create_giveaway_attempt input.text {
  width: 25px;
}

form#create_giveaway_attempt input.submit {
  margin: 0 5px 0 20px;
}

form#create_giveaway_attempt .count {
  font-size: small;
}


#giveaway_attempt_view {
  float:right;
  width: 1100px;
  height: 683px;
  position: relative;
  overflow: hidden;
  background: black;
}

.letter_tile {
  font-family: Tahoma, sans-serif;
  color: white;
  text-align: center;
  font-size: 45px;
  font-weight: bold;
}
