<% @workflow_steps.each do |workflow_step| %>
  <div class="workflow_step <%= workflow_step.open? ? 'open' : 'closed' %>" id="workflow_step_<%= workflow_step.position %>">
  <%= render :partial => 'show', :locals => {:workflow_step => workflow_step} %>
  </div>
<% end %>
