<div class="admin_assistant index" id="import_form">
  <h3>Import attendees</h3>
  <% form_tag(:action => 'import') do %>
    Paste your list of attendee names below, one person per line.
    <br /><%= text_area_tag 'import', nil, :rows => 20, :cols => 40 %>
    <br /><%= submit_tag %>
  <% end %>
</div>
