<html>
  <head>
    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag 'ejs_1.0/ejs' %>
    <%= javascript_include_tag('ejs_1.0/ejs_fulljslint') if RAILS_ENV == 'development' %>
  </head>
  <body>
    <%= @content_for_layout %>
  </body>
</html>
