body {
  font-family: "Courier New", "Monaco", sans-serif
}

#control_panel {
  background: #ddf;
  border: 2px solid #bbf;
  padding: 5px;
  float: left;
  margin: 40px 0 0 175px;
  height: 25px;
}

#giveaway_form {
  float: left;
  margin-left: 25px;
  font-size: large;
}

#giveaway_form input.submit {
  font-size: large;
}

#giveaway_form input.text {
  width: 25px;
}

#giveaway_round {
  float: left;
  height: 99px;
  margin-left: 25px
}

#giveaway_round #giveaway_select {
  font-size: large;
  padding-right: 25px;
}

#giveaway_rounds {
  float: left;
}

#giveaway_rounds #giveaway_round_select {
  font-size: large;
  padding-right: 25px;
}

.logo {
  float: left;
}

#newest_giveaway_attempt {
}









/*
#giveaway_rounds {
  /*
  position: absolute;
  top: 10px;
  right: 10px;
  width: 250px;
  background: #ddf;
  border: 2px solid #bbf;
  padding: 5px 5px 0 5px;
  * /
  float: left;
  margin-left: 25px;
  height: 99px;
  padding-top: 50px;
}
*/
/*
#giveaway_rounds #giveaway_round {
  margin-top: 10px;
}

#giveaway_rounds #giveaway_round li {
  list-style: none;
  position: relative;
  margin-bottom: 10px;
  border-bottom: 2px dotted #bbf;
}

#giveaway_rounds #giveaway_round li a img {
  border-style: none;
}

#giveaway_rounds #giveaway_round .giveaway_form {
  margin: 3px 0px;
  position: relative;
}

#giveaway_rounds #giveaway_round .giveaway_form input.text {
  width: 25px
}

#giveaway_rounds #giveaway_round .giveaway_form .close {
  position: absolute;
  top: 3px;
  right: 0px;
}

#giveaway_rounds #giveaway_round li .actions {
  position: absolute;
  top: 3px;
  right: 0px;
}
*/
